body {
    margin: 0;
    background: gray;
}

.RightHeader {
    display: flex;
    background: purple;
    height: 10vmin;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: 0;
}

header {
    height: 15vmin;
    background: black;
}


.RightHeader a {
    margin-left: 2vmin;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    margin-right: 2vmin;
}

.register_box {
    display: inline-flex;
    flex-direction: column;
    background: #444444;
    padding: 1rem;
}

.new_post {
    background: white;
    height: 100vmin;
    width: 100vmin;
    margin: 0;
}

#post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_new_input {
    width: 50vmin;
}

.text_new_input {
    width: 70vmin;
    height: 20vmin;
    margin:0;
}

.post_new_button {
    width: 25vmin;
}